<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="../css/admin.css">
    <link rel="stylesheet" href="../fontawesome-free-6.2.1-web/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-item">
        <div class="side-header">
            <div class="side-logo">
                <p>Admin</p>
            </div>
            <div class="side-items">
                <p class="items" id="staff">Quản lý nhân viên</p>
                <p class="items" id="product">Quản lý kho</p>
                <p class="items" id="ketoan">Thống kê</p>
            </div>
            <div class="side-logout">
                <a href="#" class="items"><i class="fa-solid fa-right-from-bracket"></i>  Đăng xuất</a>
            </div>
        </div>
        <div class="content">
            <div class="header">
                <p class="header-logo">Trang chủ quản lý</p>
                <p class="header-side">Xin chào admin</p>
            </div>
            <!-- Quản lý nhân viên -->
            <div id="staffManage">
                <div class="inside-head">
                    <h1>Quản lý nhân viên</h1>
                    <button class="inside-btnAdd" id="addBtn">Thêm nhân viên</button>
                </div>
                <div class="inside-content">
                    <table class="inside-table">
                        <thead>
                            <tr>
                                <th>SĐT</th>
                                <th>Họ tên</th>
                                <th>Username</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="staff : ${staffs}">
                                <td th:text="${staff.phone}"></td>
                                <td th:text="${staff.name}"></td>
                                <td th:text="${staff.username}"></td>
                                <td>
									<button class="btnEdit"><a href="#" th:attr="data-id=${staff.username}">Edit</a></button>
			                		<button class="btnDel"><a href="#" th:attr="data-id=${staff.username}">Delete</a></button>
								</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Quản lý product -->
            <div id="productManage">
                <div class="inside-head">
                    <h1>Quản lý kho</h1>
                    <button class="inside-btnAdd">Thêm sản phẩm</button>
                </div>
                <div class="inside-content">
                    <table class="inside-table">
                        <thead>
                            <tr>
                                <th>Tên</th>
                                <th>Giá cả</th>
                                <th>Mô tả</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="product: ${products}">
                                <td th:text="${product.name}"></td>
                                <td th:text="${product.price}"></td>
                                <td class="des" th:text="${product.description}"></td>
                                <td>
									<button class="btnEdit"><a href="#">Edit</a></button>
			                		<button class="btnDel"><a href="#">Delete</a></button>
								</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <!-- Thêm nhân viên dialog -->
			<div class="modal fade" id="addModal" role="dialog">
			    <div class="modal-dialog">
			
			        <!-- Modal content-->
			        <div class="modal-content">
			            <div class="modal-header">
			                <button type="button" class="close" data-dismiss="modal">&times;</button>
			                <h4 class="modal-title">Thêm nhân viên</h4>
			            </div>
			            <form th:action="@{staff/add}" th:object="${staff}" method="post">
			                <div class="modal-body">
			                	<div class="form-group">
			                        <label class="control-label" for="phone">Số điện thoại:</label>
			                        <input type="text" class="form-control" placeholder="Số điện thoại" name="phone" required/>
			                    </div>
			                
			                    <div class="form-group">
			                        <label class="control-label" for="name">Họ và tên:</label>
			                        <input type="text" class="form-control" placeholder="Họ và Tên" name="name" required/>
			                    </div>
			    
			                    <div class="form-group">
					                <label for="username">Username:</label>
					                <input type="text" class="form-control" placeholder="Nhập tên người dùng" name="username" required>
					            </div>
					            
					            <div class="form-group">
					                <label for="password">Password:</label>
					                <input type="password" class="form-control" placeholder="Nhập mật khẩu" name="password" required>
					            </div>
					            
					            <div class="form-group">
					                <label for="confirmPassword">Nhập lại Password:</label>
					                <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" name="confirmPassword" required>
					            </div>
			                </div>
			
			                <div class="modal-footer">
			                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
								<input type="submit" class="btn btn-success" value="Thêm"/>
			                </div>
			
			            </form>
			        </div>
			        
			    </div>
			</div>
			<!-- Thêm nhân viên dialog -->
        </div>
    </div>
</body>

<script src="../js/admin.js"></script>
</html>