<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/logreg.css">
</head>

<body>
    <div class="login-container">
        <div class="form">
          <form th:action="@{.}" class="register-form" th:object="${user}" method="post">
            <input type="hidden" name="id" th:value="*{id}"/>
            <input type="text" name="username" class="info" th:value="*{username}" readonly/>
            <input type="password" placeholder="Mật khẩu" name="password" class="info" required/>
            <input type="password" placeholder="Nhập lại mật khẩu" name="confirmPassword" class="info" required/>
            <input class="btn" type="submit" value="Đổi mật khẩu" style="background-color: skyblue;color:white">
            <p class="error message" style="color:red" th:text="${error}"></p>
            <p class="message">Hủy đổi mật khẩu?  <a href="/">Quay lại trang chủ</a></p>
          </form>
        </div>
      </div>
</body>

</html>