<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/login.css">

</head>

<body>
    <script>
        
        $(function(){
            $('.message a').click(function(){
                $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
             });
        });
        
    </script>
    <div class="login-container">
        <div class="form">
          <form class="register-form" id="registerForm" method="post">
            <input type="text" placeholder="username" name="registerUsername" class="info" required/>
            <input type="password" placeholder="password" name="registerPassword" class="info" required/>
            <input type="email" placeholder="email address" name="registerEmail" class="info" required/>
            <input type="submit" value="Create" id="createBtn" style="background-color: skyblue;color:white">
            <p class="error message" style="color:red"></p>
            <p class="message">Already registered? <a href="#" id="signin">Sign In</a></p>
          </form>
          <form class="login-form" action="#" id="loginForm" method="post">
            <input type="text" placeholder="username" id="username" name="username" class="info" required />
            <input type="password" placeholder="password" id="password" name="password" class="info" required/>
            <input type="submit" value="Login" id="loginBtn" style="background-color: skyblue;color:white">
            <p class="error message" style="color:red"></p>
            <p class="message">Not registered? <a href="#" id="signup">Create an account</a></p>
            
          </form>
        </div>
      </div>
</body>

</html>
