<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/logreg.css">
</head>

<body>
    <div class="login-container">
        <div class="form">
          <form th:action="@{/login}" class="login-form" method="post">
            <input type="text" placeholder="username" name="username" class="info" required />
            <input type="password" placeholder="password" name="password" class="info" required/>
            <input type="submit" value="Login" id="loginBtn" style="background-color: skyblue;color:white">
            <p class="error message" style="color:red" th:if="${param.error}">Invalid Username or Password</p>
          </form>
        </div>
      </div>
</body>

</html>