<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ nhân viên</title>
    <link rel="stylesheet" th:href="@{/css/staff.css}">
    <link rel="stylesheet" th:href="@{/fontawesome-free-6.2.1-web/css/all.min.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-item">
        <div class="side-header">
            <div class="side-logo">
                <a th:href="@{/}">
					<img src="./images/icon/Logo.jpg" alt="Logo của Shop"/>
				</a>
            </div>
            <div class="side-items">
                <p class="items" id="product">Quản lý kho</p>
                <p class="items" id="statistic">Thống kê</p>
            </div>
            <div class="side-logout">
            	<form th:action="@{logout}" method="post">
                    <button class="items link"><i class="fa-solid fa-right-from-bracket"></i>  Đăng xuất</button>
                </form>
            </div>
        </div>
        <div class="content">
            <div class="header">
                <p class="header-logo">Trang chủ nhân viên</p>
                <p class="header-side">Xin chào <Strong th:text="${user.getUsername()}"></Strong></p>
            </div>
            
			
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++Quản lý sản phẩm+++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

			<!-- Quản lý danh sách sản phẩm-->
            <div id="productManage">
                <div class="inside-head">
                    <h1>Quản lý kho</h1>
                    <div class="row">
	                    <button class="inside-btnAdd productBtn" id="proAddBtn">Thêm sản phẩm</button>
	                    <div th:if="${prosuccess} != null" class="alert alert-success alert-dismissable fade in">
					        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					        <strong th:text="${prosuccess}"></strong>
					    </div>
                    </div>
                </div>
                <div class="inside-content">
                    <table class="inside-table">
                        <thead>
                            <tr>
                                <th>Tên</th>
                                <th>Loại</th>
                                <th>Giá cả</th>
                                <th>Mô tả</th>
                                <th>Hình ảnh</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="product: ${products}">
                                <td style="width:100px" th:text="${product.name}"></td>
                                <td th:text="${product.category.name}"></td>
                                <td th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')+' VNĐ'}"></td>
                                <td class="des" th:text="${product.description}"></td>
                                <td><img th:src="@{${product.image}}" width="100px" height="100px"></td>
                                <td>
									<button class="productEdit btn-edit" th:attr="data-id=${product.id}">Edit</button>
			                		<button class="productDel btn-delete" th:attr="data-id=${product.id}">Delete</button>
								</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
			
			<!-- Thêm sản phẩm dialog -->
			<div class="modal fade" id="addProduct" role="dialog">
			    <div class="modal-dialog">
			
			        <!-- Modal content-->
			        <div class="modal-content">
			            <div class="modal-header">
			                <button type="button" class="close" data-dismiss="modal">&times;</button>
			                <h4 class="modal-title">Thêm sản phẩm</h4>
			            </div>
			            <form th:action="@{staff/product/add}" th:object="${product}" method="post">
			                <div class="modal-body">
			                	<div class="form-group">
			                        <label class="control-label" for="phone">Tên sản phẩm:</label>
			                        <input type="text" class="form-control" placeholder="Nhập tên sản phẩm" name="name" required/>
			                    </div>
			                    <label for="kind">Chọn loại sản phẩm:</label>
			                    <select name="kind" class="option-choice">
			                    	<option value="1">Mèo</option>
			                    	<option value="2">Chó</option>
			                    	<option value="3">Đồ ăn</option>
			                    	<option value="4">Đồ chơi</option>
					            </select>
			     	           
			                    <div class="form-group">
			                        <label class="control-label" for="name">Giá sản phẩm:</label>
			                        <input type="text" class="form-control"  placeholder="Nhập giá sản phẩm" name="price" required/>
			                    </div>
			    				
			                    <div class="form-group">
					                <label for="username">Mô tả:</label>
					                <input type="text" class="form-control"  placeholder="Nhập mô tả" name="description" required>
					            </div>
					            
					            <div class="form-group">
					                <label for="username">Hình ảnh:</label>
					                <input type="file" class="form-control-file"  name="image" accept="image/*" required>
					            </div>
			                </div>
			
			                <div class="modal-footer">
			                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
								<input type="submit" class="btn btn-success" value="Thêm"/>
			                </div>
			
			            </form>
			        </div>
			        
			    </div>
			</div>
			<!-- Thêm sản phẩm dialog -->
			
			<!-- Sửa sản phẩm dialog -->
			<div class="modal fade" id="editProduct" role="dialog">
			    <div class="modal-dialog">
			
			        <!-- Modal content-->
			        <div class="modal-content">
			            <div class="modal-header">
			                <button type="button" class="close" data-dismiss="modal">&times;</button>
			                <h4 class="modal-title">Sửa thông tin sản phẩm</h4>
			            </div>
			            <form th:action="@{staff/product/edit}" th:object="${product}" method="post">
			                <div class="modal-body">
			                	<input type="hidden" name="id" id="editProId">
			                	<div class="form-group">
			                        <label class="control-label" for="name">Tên sản phẩm:</label>
			                        <input type="text" class="form-control" placeholder="Nhập tên sản phẩm" name="name" id="editname" required/>
				                    <label for="kind">Chọn loại sản phẩm:</label>
				                    <select name="kind" class="option-choice">
				                    	<option id="editcat" value="1">Mèo</option>
				                    	<option id="editdog" value="2">Chó</option>
				                    	<option id="editfood" value="3">Đồ ăn</option>
				                    	<option id="edittoy" value="4">Đồ chơi</option>
						            </select>
					            </div>
			     	           
			                    <div class="form-group">
			                        <label class="control-label" for="name">Giá sản phẩm:</label>
			                        <input type="text" class="form-control" id="editprice" placeholder="Nhập giá sản phẩm" name="price" required/>
			                    </div>
			    				
			                    <div class="form-group">
					                <label for="username">Mô tả:</label>
					                <input type="text" class="form-control" id="editdes" placeholder="Nhập mô tả" name="description" required>
					            </div>
					            
					            <div class="form-group">
					                <label for="username">Hình ảnh:</label>
					                <input type="file" class="form-control-file" id="editimage" name="image" required>
					            </div>
			                </div>
			                <div class="modal-footer">
			                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
								<input type="submit" class="btn btn-success" value="Sửa"/>
			                </div>
			
			            </form>
			        </div>
			        
			    </div>
			</div>
			<!-- Sửa sản phẩm dialog -->
			
			<!-- Xóa sản phẩm dialog -->
			<div class="modal fade" id="deleteProduct" role="dialog">
			    <div class="modal-dialog">
			
			        <!-- Modal content-->
			        <div class="modal-content">
			            <div class="modal-header">
			                <button type="button" class="close" data-dismiss="modal">&times;</button>
			                <h4 class="modal-title">Xóa nhân viên</h4>
			            </div>
			            <div class="modal-body">
			                <p>Bạn có chắc chắn muốn xóa sản phẩm này?</p>
			            </div>
			            <div class="modal-footer">
			            	<form th:action="@{staff/product/delete}" method="post">  
			        			<input type="hidden" name="id" id="delProId">  
			        			<input type="submit" class="btn btn-danger" value=Xóa>
			        			<button type="button" class="btn btn-default" data-dismiss="modal">Không</button>
			        		</form>
			            </div>
			        </div>
			
			    </div>
			</div>
			<!-- Xóa sản phẩm dialog -->
			
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++Thống kê+++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

			<!-- Thống kê-->
            <div id="statisticManage" th:style="${statistic_screen}">
                <div class="inside-head">
                    <h1>Thống kê doanh thu theo tháng năm hiện tại</h1>
                </div>
                <div>
                	<canvas id="statisticMonthChart"></canvas>
                </div>
                <div class="inside-content">
                    <table class="inside-table">
                        <thead>
                            <tr>
                                <th>Tháng</th>
                                <th>Doanh thu</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="statistic" th:each="statistic : ${statistics}">
                                <td class="statistic-month" th:text="${statistic.date}"></td>
                                <td class="statistic-total" th:text="${statistic.total}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
		
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="./js/staff.js"></script>
</html>