<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quản lý nhân viên</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<style>
    .columns{
        border: 2px solid darkgrey;
        border-radius: 5px;
        padding-top: 15px;
    }

    .alert{
        display: none;
        max-width: 500px;
        margin: auto;
    }
</style>

<script>

	let currUsername;

    $(document).ready(function() {
    	
        $("#addBtn").click(function(e) {
            $("#addModal").modal({
                backdrop: "static",
                keyboard: false
            });
        });
        
        $(".edit").click(function(e) {
        	$("#editModal").modal({
                backdrop: "static",
                keyboard: false
            });
        	$.get("staff/edit/" + $(this).data("id"), function(staff) {
				$("#editPhone").val(staff.phone);
				$("#editName").val(staff.name);
				$("#editUsername").val(staff.username);
       		});
            e.preventDefault();
        });
        
        $("#editPassword").click(function() {
        	window.location.href = "staff/edit/password/" + $("#editUsername").val();
        });
        
        $(".delete").click(function(e) {
  			$("#deleteUsername").val($(this).data("id"));
            $("#deleteModal").modal({
                backdrop: "static",
                keyboard: false
            });
  			e.preventDefault();
        });
    });

</script>

	<div class="container">
        <h1>Quản lý nhân viên</h1>
        <div class="row">
        	<button class="btn btn-primary" id="addBtn">Thêm tài khoản</button>
        </div>
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>SĐT</th>
                        <th>Họ tên</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>

                <tbody id="table-body">
                    <tr th:each="staff : ${staffs}">
                        <td th:text="${staff.phone}"></td>
                        <td th:text="${staff.name}"></td>  
			            <td th:text="${staff.username}"></td>  
			            <td th:text="${staff.password}"></td>  
			            <td>  
			                <a href="#" th:attr="data-id=${staff.username}" class="edit btn btn-primary">Edit</a>
			                <a href="#" th:attr="data-id=${staff.username}" class="delete btn btn-danger">Delete</a>  
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br><br>
        <div class="alert alert-success alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> <span id="success"></span>
        </div>
        <br>
        <div class="alert alert-danger alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Failed!</strong> <span id="fail"></span>
        </div>

    </div>

<!-- Add dialog -->
<div class="modal fade" id="addModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm nhân viên</h4>
            </div>
            <form th:action="@{staff/add}" th:object="${staff}" method="post">
                <div class="modal-body">
                	<div class="form-group">
                        <label class="control-label" for="phone">Số điện thoại:</label>
                        <input type="text" class="form-control" placeholder="Số điện thoại" name="phone" required/>
                    </div>
                
                    <div class="form-group">
                        <label class="control-label" for="name">Họ và tên:</label>
                        <input type="text" class="form-control" placeholder="Họ và Tên" name="name" required/>
                    </div>
    
                    <div class="form-group">
		                <label for="username">Username:</label>
		                <input type="text" class="form-control" placeholder="Nhập tên người dùng" name="username" required>
		            </div>
		            
		            <div class="form-group">
		                <label for="password">Password:</label>
		                <input type="password" class="form-control" placeholder="Nhập mật khẩu" name="password" required>
		            </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
					<input type="submit" class="btn btn-success" value="Thêm"/>
                </div>

            </form>
        </div>
        
    </div>
</div>
<!-- Add dialog -->

<!-- Edit dialog -->
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sửa thông tin nhân viên</h4>
            </div>
            <form th:action="@{staff/edit}" th:object="${staff}" method="post">
                <div class="modal-body">
                	<input type="hidden" name="username" id="editUsername">
                	<div class="form-group">
                        <label class="control-label" for="phone">Số điện thoại:</label>
                        <input type="text" class="form-control" placeholder="Số điện thoại" name="phone" id="editPhone" required/>
                    </div>
                
                    <div class="form-group">
                        <label class="control-label" for="name">Họ và tên:</label>
                        <input type="text" class="form-control" placeholder="Họ và Tên" name="name" id="editName" required/>
                    </div>
                    <button type="button" class="btn btn-default" id="editPassword">Đổi mật khấu</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
					<input type="submit" class="btn btn-success" value="Sửa"/>
                </div>

            </form>
        </div>
        
    </div>
</div>
<!-- Edit dialog -->

<!-- Confirm delete dialog -->
<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Xóa nhân viên</h4>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa nhân viên?</p>
            </div>
            <div class="modal-footer">
            	<form th:action="@{staff/delete}" method="post">  
        			<input type="hidden" name="username" id="deleteUsername">  
        			<input type="submit" class="btn btn-danger" value=Xóa>
        			<button type="button" class="btn btn-default" data-dismiss="modal">Không</button>
        		</form>
            </div>
        </div>

    </div>
</div>
<!-- Confirm delete dialog -->

</body>
</html>
