
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
.login-container {
  width: 400px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(18, 219, 209, 0.806), 0 5px 5px 0 rgba(230, 232, 240, 0.742);
}

.form input {
  font-family: "Open Sans", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: skyblue;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form #createBtn:hover,
.form #loginBtn:hover,
.form button:focus {
  background-color:blue !important;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: skyblue;
  text-decoration: none;
}

.form .message a:hover{
    color: blue;
}

.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}


.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #ef3b3a;
}

body {
  background: skyblue;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #d9d9d9, #6fc1c2);
  background: -moz-linear-gradient(right, #52b8ae, #b1b1b1);
  background: -o-linear-gradient(right, #cdcdcd, #6fc2bf);
  background: linear-gradient(to left, #52b3b8, #bebebe);
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
